h1 {
    padding-left: 50%;
}

mat-list {
    padding-left:20%;
}

.done {
    text-decoration: line-through;
    opacity: 0.5;
}

.mat-list-item-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

mat-card {
    margin-left: 40%;
    margin-right: 20%;
}