<mat-list class="container">
    <div class="text">
        My lists
    </div>    
    <mat-list-item *ngFor="let l of lists" >
        <span>>></span>
        <span  matTooltip="Go to list" matTooltipPosition="above" class="list-item" mat-line [routerLink]="['/list', l['listId'], l['listName']]"> {{ l['listName'] }} </span>
        
        <button  matTooltip="Delete list" matTooltipPosition="above" mat-icon-button (click)="removeList(l)">
            <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
        </button>
    </mat-list-item>

    <mat-list-item >
        <button  matTooltip="Create new list" matTooltipPosition="above" class="text" mat-raised-button color="primary" (click)="openAddNewListForm()">
            +New list 
        </button>
    </mat-list-item>

    <div *ngIf="showAddNewListForm">
        <app-add-new-list-form (newListCreated)="onNewListCreated($event)"></app-add-new-list-form>
    </div>

    <mat-list-item [routerLink]="['/calendar']">
        <span  class="calendar" matTooltip="Go to calendar" matTooltipPosition="above">Calendar</span>
    </mat-list-item>

    <mat-list-item (click)="logout()">
        <span  matTooltip="Logout" matTooltipPosition="above" class="logout">Logout</span>
    </mat-list-item>
</mat-list>
