<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <h2>Registracija</h2>

    <mat-form-field appearance="outline">
        <mat-label for="name"> Ime </mat-label>
        <input matInput id="name" formControlName="name" >
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
        <mat-label for="lastname"> Prezime </mat-label>
        <input matInput id="lastname" formControlName="lastname" >

    </mat-form-field>
    
    <br>

    <mat-form-field appearance="outline">
        <mat-label for="email"> E-mail </mat-label>
        <input matInput id="email"  formControlName="email" >
    </mat-form-field>

    <br>

    <mat-form-field appearance="outline">
        <mat-label for="password"> Lozinka </mat-label>
        <input matInput [type]="inputType" formControlName="password">
    </mat-form-field>

    <br>

    <button type="submit" mat-raised-button color="primary">Register</button>
</form>